<div class="row">
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <h1>DashBoards</h1>
    <h2><%= current_user.name %></h2>
    <div class= "d-grid gap-2 col-6 mx-auto">
      <%= link_to t('.article_index'), users_articles_path, class: "btn btn-primary btn-lg ", method: :get %>
    </div>
    <div class= "d-grid gap-2 col-6 mx-auto mt-1">
      <%= link_to t('.edit'), edit_user_registration_path, class: "btn btn-primary btn-lg", method: :get %>
    </div>    
    <div class= "d-grid gap-2 col-6 mx-auto mt-1">
      <%= link_to t('.sign_out'), destroy_user_session_path, class: "btn btn-warning btn-lg", method: :delete %>
    </div>      
	</div>
</div>